<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=}, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h1>Padres</h1>

    <ul>
        {% for parent in parents %}

            <li><a href="{% url 'folder_list' pk=parent.pk %}">{{ parent.name }}</a></li>

        {% endfor %}
    </ul>



    <h1>Carpetas</h1>
    <ul>
        {% for folder in folders %}

            <li><a href="{% url 'folder_list' pk=folder.pk %}">{{ folder.name }}</a></li>

        {% endfor %}
    </ul>


    <h1>Documentos</h1>
    <ul>
        {% for document in documents %}
            <li><a href="">Name: {{ document.name }} Serie: {{ document.serie }}</a></li>
        {% endfor %}
    </ul>

        {% if msg %}
            <p>{{msg}}</p>
        {% endif %}

</body>
</html>