<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
		<title>Bogotá earthquake
            </title>
    <style>
        .note {
            padding: 20px;
        }
    </style>
</head>
<body style="background-color: #272833">
    <div id="page-wrapper">
            <header id="header">
					<nav id="nav">
						<ul>
							<li>
								<a href="{% url 'page' %}">Inicio</a>

							</li>
							<li><a href="/users/calculate_process/">Calcular Processo</a></li>

							<li><a href="/users/login/" class="">Ingresar</a></li>
						</ul>
					</nav>
                </header>


    </div>
    <section id="banner" style="background-image: none;">
            <div class="content" >
                <header >
                    <h2 style="text-align: center;" >Metodos complementarios</h2>

                    <div style="display:flex">
                        <div class="note">
                            <div>
                                <img src="/static/images/1_base.png">
                            </div>
                            <div>
                             asdasdasd
                            </div>
                        </div>
                        <div class="note">
                            <div>
                                <img src="/static/images/1_base.png">
                            </div>
                            <div>
                             asdasdasd
                            </div>
                        </div>
                        <div class="note">
                            <div>
                                <img src="/static/images/1_base.png">
                            </div>
                            <div>
                             asdasdasd
                        </div>



                    </div>
                </header>
            </div>
        </section>

</body>
<style>
</style>
</html>