<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='shortcut icon' type='image/x-icon' href='/static/img/earthquake.png' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
		<title>vulnerabilidad sísmica Bogotá
            </title>
    <style>
        html {
            background: #272833
        }
        .note {

            margin-left: 30px;

        }
        .div-img {
            height: 200px;
            width: 300px;

        }
        .text {
            color: white;
            font-weight: bold;
            text-align: center;
        }
        .text-name {
            background: #eaeaea;
            position: relative;
            top: -9px;
        }
    </style>
</head>
<body style="background-color: #272833">
    <div id="page-wrapper">
            <header id="header">
					<nav id="nav">
						<ul>
							<li>
								<a style="color:white;font-weight:bold" href="{% url 'page' %}">Inicio</a>

							</li>
							<li><a style="color:white;font-weight:bold" href="/users/inicio/">Calcular Proceso</a></li>

							<li><a  style="color:white;font-weight:bold" href="/users/login/" class="">Ingresar</a></li>
						</ul>
					</nav>
                </header>


    </div>
    <h2 style="text-align: center;margin-top: 50px;" >Metodos complementarios</h2>

    <div style="justify-content: center;display: flex;">
        <div style="display: inline-block;margin-left: 50px;width: 310px;height: 300px;">
        <a href="{% url 'soil' %}">

                <div >
                    <img class="div-img" src="/static/images/mapa1.png">
                </div>
                <div class="text">

                    Especificaciónes de suelos
                </div>

        </a>
                <div style="text-align: center;">

                    Valores de la respuesta sísmica de los suelos de la cuidad de Bogotá D.C
                </div>
        </div>

        <div  style="display: inline-block;margin-left: 50px;width: 310px;height: 300px;">
            <a href="{% url 'weight' %}" >

                    <div  >
                        <img class="div-img" src="/static/images/peso.png">
                    </div>
                    <div class="text">
                        Calculo de cargas
                    </div>

            </a>
            <div style="text-align: center; ">

                Proceso calculo de cargas vivas y muerta para una vivienda según la Nsr-10
            </div>
        </div>
    </div>

</body>
<style>
</style>
</html>