<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
    <title>Document</title>
</head>
<body style="background-color: #272833">
    <div id="page-wrapper">
            <header id="header">
					<nav id="nav">
						<ul>
							<li>
								<a href="{% url 'page' %}">Inicio</a>

							</li>
							<li><a href="/users/calculate_process/">Calcular Processo</a></li>

							<li><a href="/users/login/" class="">Ingresar</a></li>
						</ul>
					</nav>
                </header>


    </div>
    <section id="banner" style="background-image: none;">
            <div class="content" >
                <header >
                    <h2 style="text-align: center;" >MANUAL DE USO</h2>
                </header>
                    <div style="text-align: center">
                            <br>
                            <br>
                        <h3>Lo primero que se debe hacer para calcular el proceso, es dar click en el botón de ingresar.</h3>
                            <br>

                        <div style="text-align: center">
                            <img style="width: 70%;" src="/static/images/1_paso.png">
                        </div>
                            <br>
                        <h3>Luego te aparecerá la siguiente ventana, debes primero registrarte y luego iniciar sesión para poder calcular la vulnerabilidad sísmica de tu vivienda.</h3>
                            <br>
                            <div style="text-align: center">
                                <img style="width: 70%;" src="/static/images/paso_2.png">
                            </div>
                            <br>
                        <h3>Luego de iniciar sesión te aparecerá la siguiente ventana, en donde aparecen dos métodos diferentes para calcular la vulnerabilidad sísmica.</h3>
                            <br>
                            <div style="text-align: center">
                                <img style="width: 70%;" src="/static/images/paso_3.png">
                            </div>
                            <br>
                        <h3>Al darle click en el botón del método de la Asociación Colombiana de Ingeniería Sísmica (AIS), debes proseguir con la evaluación de cada uno de los ítems requeridos, debes seleccionar en cual estado se encuentra tu vivienda, abajo aparecerá una descripción y una imagen correspondiente. </h3>
                        <br>
                        <div style="text-align: center">
                            <img style="width: 70%;" src="/static/images/paso_4.png">
                        </div>
                        <br>
                        <h3>El estado de la vivienda se califica por bueno, regular y malo, luego de evaluar cada uno de los ítems debes darle click al botón next o submit, para continuar con la evaluación.</h3>
                        <br>
                        <div style="text-align: center">
                            <img style="width: 70%;" src="/static/images/paso_falto.png">
                        </div>
                        <br>
                        <h3>Al terminar de evaluar el proceso, te aparecerá la siguiente ventana el cual te indicara cual es la calificación de tu vivienda, te mostrara una tabla en la cual se especifica cada uno de los ítems y el estado que escogiste, en la parte inferior derecha te aparecerá la calificación y el porcentaje que tiene tu vivienda.</h3>
                        <br>
                        <div style="text-align: center">
                            <img style="width: 70%;" src="/static/images/paso_6.png">
                        </div>
                        <br>
                        <h3>Para guardar la evaluación en tu computadora debes darle click en el botón de guardar, debes guardarlo en formato PDF y en tamaño del papel poner A3.</h3>
                        <br>
                        <div style="text-align: center">
                            <img style="width: 70%;" src="/static/images/paso_7.png">
                        </div>
                        <br>


                        <h3>Para realizar la evaluación por el método de la Norma Colombiana de Sismo Resistencia del 2010 debes darle click al botón NSR-10.</h3>
                        <br>
                        <div style="text-align: center">
                            <img style="width: 70%;" src="/static/images/paso_8.png">
                        </div>

                        <br>
                        <h3>Luego te aparecerá la siguiente ventana en la cual debes especificar cada una de la información requerida, todas las dimensiones pedidas deben estar en metros.</h3>
                        <br>
                        <div style="text-align: center">
                            <img style="width: 70%;" src="/static/images/paso_9.png">
                        </div>
                        <br>

                        <h3>Luego de pasar al siguiente paso debes dar click en el siguiente mapa para seleccionar donde se encuentra localizada tu vivienda. </h3>
                        <br>
                        <div style="text-align: center">
                            <img style="width: 70%;" src="/static/images/paso_10.png">
                        </div>
                        <br>
                        <h3>Después debes de registrar todas las dimensiones de las vigas, columnas y placas, si en tu vivienda hay varios tipos de columnas, vigas y placas, puedes agregar más filas, recuerda que las dimensiones deben estar en metros.</h3>
                        <br>
                        <div style="text-align: center">
                            <img style="width: 70%;" src="/static/images/paso_11.png">
                        </div>
                        <br>

                        <h3>En el siguiente paso, deberás elegir con que materiales está construida la vivienda en cada uno de los ítems, debes especificar el espesor de los muros y los metros cuadrados totales de cada ítem.</h3>
                        <br>
                        <div style="text-align: center">
                            <img style="width: 70%;" src="/static/images/paso_12.png">
                        </div>
                        <br>


                        <h3>Luego debes de escoger la ocupación, el uso y el tipo cubierta que tiene de la vivienda y especificar los metros cuadrados que tiene cada uno de ella.</h3>
                        <br>
                        <div style="text-align: center">
                            <img style="width: 70%;" src="/static/images/paso_13.png">
                        </div>
                        <br>
                        <h3>Por ultimo debes elegir las fuerzas horizontales y las fuerzas verticales que presenta tu vivienda, estas últimas aparecen por defecto al elegir las fuerzas horizontales, debes de especificar si tu vivienda cuenta con alguna irregularidad en planta y en altura. Por ultimo debes escoger el sistema de resistencia sísmica que presenta tu vivienda para realizar el cálculo del periodo fundamental.</h3>
                        <br>
                        <div style="text-align: center">
                            <img style="width: 70%;" src="/static/images/paso_14.png">
                        </div>
                        <br>

                        <h3>Al terminar de evaluar la vivienda, aparecerá un recuadro el cual te indicara si tu proceso fue calculado correctamente, luego podrás visualizar toda la información.</h3>
                        <br>
                        <div style="text-align: center">
                            <img style="width: 70%;" src="/static/images/paso_15.png">
                        </div>

                        <br>

                        <h3>Para guardar el informe final de la evaluación en tu computadora debes de dar click en el botón guardar, debes guardarlo en formato PDF y en tamaño del papel poner A3.</h3>
                        <br>
                        <div style="text-align: center">
                            <img style="width: 70%;" src="/static/images/paso_16.png">
                        </div>
                        <br>

                    </div>



            </div>
        </section>

</body>
<style>
</style>
</html>