<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
    <title>Document</title>
</head>
<body style="background-color: #272833">
    <div id="page-wrapper">
            <header id="header">
					<nav id="nav">
						<ul>
							<li>
								<a href="{% url 'page' %}">Inicio</a>

							</li>
							<li><a href="/users/calculate_process/">Calcular Processo</a></li>

							<li><a href="/users/login/" class="">Ingresar</a></li>
						</ul>
					</nav>
                </header>


    </div>
    <section id="banner" style="background-image: none;">
            <div class="content" >
                <header >
                    <h2 style="text-align: center;" >Nomenclatura</h2>

                    <p style="text-align: justify;">
                            Aa = coeficiente que representa la aceleración horizontal pico efectiva, para diseño, dado en A.2.2.
                            <br> <br>
                            Av = coeficiente que representa la velocidad horizontal pico efectiva, para diseño, dado en A.2.2.
                            <br> <br>
                            dc = es la suma de los espesores de los k estratos de suelos cohesivos localizados dentro de los 30m superiores del perfil.
                            <br> <br>
                            di = espesor del estrato i, localizado dentro de los 30 m superiores del perfil.
                            <br> <br>
                            ds = es la suma de los espesores de los m estratos de suelos no cohesivos localizados dentro de los 30 m superiores del perfil en ecuación A.2.4-3.
                            <br> <br>
                            Fa = coeficiente de amplificación que afecta la aceleración en la zona de períodos cortos, debida a los efectos de sitio, adimensional.
                            <br> <br>
                            Fv = coeficiente de amplificación que afecta la aceleración en la zona de períodos intermedios, debida a los efectos de sitio, adimensional.
                            <br> <br>
                            g = aceleración debida a la gravedad (9.8 m/s 2 ).
                            <br> <br>
                            H = espesor total en m de los estratos de suelos cohesivos.
                            <br> <br>
                            I = coeficiente de importancia definido en A.2.5.2
                            <br> <br>
                            IP = índice de plasticidad, el cual se obtiene cumpliendo la norma ASTM D 4318.
                            <br> <br>
                            Ni = número de golpes por píe obtenido en el ensayo de penetración estándar, realizado in situ de acuerdo con la norma ASTM D 1586, haciendo corrección por energía N60. El valor de N i usado para obtener el valor medio, no debe exceder 100.
                            <br> <br>
                            R0 = coeficiente de capacidad de disipación de energía básico definido para cada sistema estructural y cada grado de capacidad de disipación de energía del material estructural. Véase el Capítulo A.3.
                            <br> <br>
                            R = coeficiente de capacidad de disipación de energía para ser empleado en el diseño, corresponde a coeficiente de disipación de energía básico, R 0 , multiplicado por los coeficientes de reducción decapacidad de disipación de energía por irregularidades en altura, en planta, y por ausencia de redundancia





                    </p>

                </header>
            </div>
        </section>

</body>
<style>
</style>
</html>