<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
		<title>Bogotá earthquake
            </title>
    <style>
        .note {

            margin-left: 30px;

        }
        .div-img {
            height: 200px;
            width: 300px;

        }
        .text {
            height: 100px;
            background: white;
            position: relative;
            top: -9px;
        }
        .text-name {
            background: #eaeaea;
            position: relative;
            top: -9px;
        }
    </style>
</head>
<body style="background-color: #272833">
    <div id="page-wrapper">
            <header id="header">
					<nav id="nav">
						<ul>
							<li>
								<a style="color:white;font-weight:bold" href="{% url 'page' %}">Inicio</a>

							</li>
							<li><a style="color:white;font-weight:bold" href="/users/calculate_process/">Calcular Processo</a></li>

							<li><a  style="color:white;font-weight:bold" href="/users/login/" class="">Ingresar</a></li>
						</ul>
					</nav>
                </header>


    </div>
    <section id="banner" style="background-image: none;">
            <div class="content" >
                <header >
                    <h2 style="text-align: center;" >Metodos complementarios</h2>

                    <div style="display:flex">
                        <a href="{% url 'soil' %}">
                            <div class="note" >
                                <div >
                                    <img class="div-img" src="/static/images/mapa1.png">
                                </div>
                                <div class="text">
                                    asdasdasd

                                </div>
                                <div class="text-name">yyyy</div>
                            </div>
                        </a>
                        <a href="{% url 'weight' %}" >
                            <div class="note">
                                <div  >
                                    <img class="div-img" src="/static/images/1_base.png">
                                </div>
                                <div class="text">
                                    asdasdasd
                                </div>
                            </div>
                        </a>
                        <div class="note">
                            <div  >
                                <img class="div-img" src="/static/images/1_base.png">
                            </div>
                            <div class="text">
                                asdasdasd
                            </div>



                    </div>
                </header>
            </div>
        </section>

</body>
<style>
</style>
</html>