<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="/static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
    <title>Document</title>
</head>
<body style="background-color: #272833">
    <div id="page-wrapper">
            <header id="header">
					<nav id="nav">
						<ul>
							<li>
								<a href="{% url 'page' %}">Inicio</a>

							</li>
							<li><a href="/users/calculate_process/">Calcular Processo</a></li>

							<li><a href="/users/login/" class="">Ingresar</a></li>
						</ul>
					</nav>
                </header>


    </div>
    <section id="banner" style="background-image: none;">
            <div class="content" >
                <header >
                    <h2 style="text-align: center;" >MANUAL DE USO</h2>
                </header>
                    <div style="text-align: center">
                            <br>
                            <br>
                        <h3>Lo primero que se debe hacer para calcular el proceso, es dar click en el botón de ingresar.</h3>
                            <br>

                        <div style="text-align: center">
                            <img style="width: 70%;" src="/static/img/manual1.png">
                        </div>
                            <br>
                        <h3>Luego te aparecerá la siguiente ventana, debes primero registrarte y luego iniciar sesión para poder calcular la vulnerabilidad sísmica de tu vivienda.</h3>
                            <br>
                            <div style="text-align: center">
                                <img style="width: 70%;" src="/static/img/manual2.png">
                            </div>
                            <br>
                        <h3>Luego de iniciar sesión te aparecerá la siguiente ventana, en donde aparecen dos métodos diferentes para calcular la vulnerabilidad sísmica.</h3>
                            <br>
                            <div style="text-align: center">
                                <img style="width: 70%;" src="/static/img/manual3.png">
                            </div>
                            <br>
                        <h3>Al darle click en el botón del método de la Asociación Colombiana de Ingeniería Sísmica (AIS), debes proseguir con la evaluación de cada uno de los ítems requeridos, debes seleccionar en cual estado se encuentra tu vivienda, abajo aparecerá una descripción y una imagen correspondiente. </h3>
                        <br>
                        <div style="text-align: center">
                            <img style="width: 70%;" src="/static/img/manual4.png">
                        </div>
                        <br>
                        <h3>El estado de la vivienda se califica por bueno, regular y malo, luego de evaluar cada uno de los ítems debes darle click al botón next o submit, para continuar con la evaluación.</h3>
                        <br>
                        <div style="text-align: center">
                            <img style="width: 70%;" src="/static/img/manual5.png">
                        </div>
                        <br>
                        <h3>Al terminar de evaluar el proceso, te aparecerá la siguiente ventana el cual te indicara cual es la calificación de tu vivienda, te mostrara una tabla en la cual se especifica cada uno de los ítems y el estado que escogiste, en la parte inferior derecha te aparecerá la calificación y el porcentaje que tiene tu vivienda.</h3>
                        <br>
                        <div style="text-align: center">
                            <img style="width: 70%;" src="/static/img/manual6.png">
                        </div>
                        <br>
                        <h3>Para guardar la evaluación en tu computadora debes darle click en el botón de guardar, debes guardarlo en formato PDF y en tamaño del papel poner A3.</h3>
                        <br>
                        <div style="text-align: center">
                            <img style="width: 70%;" src="/static/img/manual7.png">
                        </div>
                        <br>


                        <h3>Para realizar la evaluación por el método del índice de vulnerabilidad sísmica de Benedetti-Petrini. Debes darle click al botón Índice.</h3>
                        <br>
                        <div style="text-align: center">
                            <img style="width: 70%;" src="/static/img/manual8.png">
                        </div>

                        <br>
                        <h3>Luego te aparecerá la siguiente ventana en la cual deberás elegir una de las  opciones correspondientes a cada ítem y al finalizar darle click en el botón “next” para continuar con el proceso.</h3>
                        <br>
                        <div style="text-align: center">
                            <img style="width: 70%;" src="/static/img/manual9.png">
                        </div>
                        <br>

                        <h3>Luego de pasar al siguiente paso debes especificar algunas medidas de la vivienda y continuar con la selección de opciones en los diferentes ítems. Debes ser cuidadoso al seleccionar las opciones ya que cada una es una inspección visual.</h3>
                        <br>
                        <div style="text-align: center">
                            <img style="width: 70%;" src="/static/img/manual10.png">
                        </div>
                        <br>
                        <h3>Al finalizar la evaluación de los 11 items que corresponden al método de vulnerabilidad sísmica le das click en el botón de “submit” para mirar los resultados obtenidos.</h3>
                        <br>
                        <div style="text-align: center">
                            <img style="width: 70%;" src="/static/img/manual11.png">
                        </div>
                        <br>

                        <h3>Luego te aparecerá una ventana de validación del procesa, al darle en el botón “ok” podrás visualizar con detalle los resultados obtenidos del análisis de vulnerabilidad y podrás ver en qué estado se encuentra tu vivienda. </h3>
                        <br>
                        <div style="text-align: center">
                            <img style="width: 70%;" src="/static/img/manual12.png">
                        </div>
                        <br>


                        <h3>Para guardar el informe de resultados de la evaluación de la vivienda, debes darle click en el botón “guardar”, y guardarlo con las siguientes características. </h3>
                        <br>
                        <div style="text-align: center">
                            <img style="width: 70%;" src="/static/img/manual13.png">
                        </div>
                        <br>


                    </div>



            </div>
        </section>

</body>
<style>
</style>
</html>