<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link rel='shortcut icon' type='image/x-icon' href='/static/img/earthquake.png' />
    <title>Bogotá earthquake
        </title>
<body>

<div style="width: 100%;  height:60px; background: #272833" id="main-navbar">

    <a  href="{% url 'page' %}" style="color: white;  position:relative;
    left:50px;
    top:17px;
    font-weight: bold;""
    ><img   style="width: 20px" src="/static/img/home2.png"></a>
    <a href="{% url 'logout' %}" style="color: white;  position:relative;
    left:80px;
    top:17px;
    font-weight: bold;""><img style="width: 20px" src="/static/img/logout2.png"></a>

</div>



<h1 id="title_process">Método Nsr-10</h1>


    <div class="col text-center">
        <button onclick=window.print() type="button" class="btn btn-default">Guardar</button>
    </div>
<div class="col-lg-12" style="padding: 50px" id="property_0">
        <!-- <div class="row">
            <div class="col-sm-12" style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
                    EVALUACIÓN CUANTITATIVA
            </div>
        </div> -->
        <div class="row">
            <div class="col-sm-12 data-title print" style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
                <span class="print" style="position: relative; top:10px"> INFORMACIÓN CONSTRUCTIVA</span>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 data print"  style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
                    Grupo de uso:
            </div>
            <div class="col-sm-3 data" >
                {{ grupo }}
            </div>
            <div class="col-sm-3 data print"  style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
                    Numero de pisos:
                </div>
                <div class="col-sm-3 data" >
                    {{ floors }}
                </div>


        </div>
        <div class="row">
            <div class="col-sm-3 data print"  style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
                    Tipo de sistema estructural:
            </div>
            <div class="col-sm-3 data" >
                {{ type_construccion }}
            </div>

            <div class="col-sm-3 data print"  style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
                    Altura entre pisos:
                </div>
                <div class="col-sm-3 data" >
                    {{ height_floors }}
                </div>

        </div>

        <!-- <div class="row">

            <div class="col-sm-3 data print"  style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
                Total altura propiedad:
            </div>
            <div class="col-sm-3 data" >
                {{ height }}

            </div>
        </div> -->



        <div class="row">
            <div class="col-sm-3 data-porcentage print"  style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
                <span class="print" style="position: relative; top:10px">Irregularidad en altura:</span>
            </div>

            <div class="col-sm-3 data-porcentage" >
                {{ irregularidad_long }}
            </div>
            <div class="col-sm-3 data-porcentage print"  style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
                <span class="print" style="position: relative; top:10px">Irregularidad en planta:</span>
            </div>
            <div class="col-sm-3 data-porcentage" >
                {{ irregularidad_planta }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 data-porcentage print"  style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
                <span class="print" style="position: relative; top:10px">Fuerzas horizontales:</span>
            </div>
            <div class="col-sm-3 data-porcentage" >
                {{ fuerza_horizontal }}
            </div>
            <div class="col-sm-3 data-porcentage print"  style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
                <span class="print" style="position: relative; top:10px">Fuerzas verticales</span>
            </div>
            <div class="col-sm-3 data-porcentage" >
                {{ fuerza_vertical }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 data-porcentage print"  style="border: 0.2px solid black; text-align: center; background: #525573; color: white; ">
                <span class="print" style="position: relative; top:10px">Comentarios:</span>
            </div>
            <div class="col-sm-9 data-porcentage" style="overflow: auto;" >
                {{ comments }}
            </div>

        </div>

<br>
        <div class="row">
            <div class="col-sm-12 " style="height: 40px" >
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 data-title print" style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
                <span class="print" style="position: relative; top:10px">ESPECIFICACIÓN SUELOS</span>
            </div>
        </div>





        <div class="row">
            <div class="col-sm-3 data print"  style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
                Tipo de suelo:
            </div>
            <div class="col-sm-3 data" >
                {{ type_suelo }}
            </div>
            <div class="col-sm-3 data print"  style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
                Velocidad onda:
            </div>
            <div class="col-sm-3 data" >
                {{ velocidad_onda }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 data print"  style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
                Fa:
            </div>
            <div class="col-sm-3 data" >
                {{ fa }}
            </div>
            <div class="col-sm-3 data print"  style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
                Humedad_Promedio:
            </div>
            <div class="col-sm-3 data" >
                {{ Humedad_Promedio }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 data print"  style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
                Fv:
            </div>
            <div class="col-sm-3 data" >
                {{ fv }}
            </div>
            <div class="col-sm-3 data print"  style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
                Efectos relacionados
            </div>
            <div class="col-sm-3 data" >
                {{ Efectos_relacionados }}
            </div>
        </div>



        <div class="row">
            <div class="col-sm-3 data print"  style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
                Espesor deposito:
            </div>
            <div class="col-sm-3 data" >
                {{ Espesor_deposito }}
            </div>
            <div class="col-sm-6 print"  style=" text-align: center; background: #525573; color: white ">
                Ubicación
            </div>

        </div>

        <div class="row">
            <div class="col-sm-3 data print"  style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
                Periodo suelo:
            </div>
            <div class="col-sm-3 data" >
                {{ Periodo_suelo }}
            </div>
            <div class="col-sm-3 data print"  style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
                Cordenada x:
            </div>
            <div class="col-sm-3 data" >
                {{ cordenada_x }}
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 data-porcentage print"  style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
                <span class="print" style="position: relative; top:10px">Descripción geotecnica:</span>
            </div>
            <div class="col-sm-3 data-porcentage" style="overflow: auto;" >
                {{ descripcion_geotecnica }}
            </div>
            <div class="col-sm-3 data-porcentage print"  style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
                <span class="print" style="position: relative; top:10px">Cordenada y:</span>
            </div>
            <div class="col-sm-3 data-porcentage"  >
                <span style="position: relative; top:10px">   {{ cordenada_y }}</span>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12 " style="height: 40px" >
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 data-title print" style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
                <span class="print" style="position: relative; top:10px">CARGAS MUERTAS</span>
            </div>
        </div>
        <div class="row">
                <div class="col-sm-12 data-color" style="height: 20px !important" >
                        <span class="print" > Vigas {{viga_weight}} KN</span>
                </div>
        </div>

        <div class="row">
            <div class="col-sm-2 print2"  style="border: 0.2px solid black; text-align: center; background: #383737; color: white">
                    #
            </div>
            <div class="col-sm-2 print2"  style="border: 0.2px solid black; text-align: center; background: #383737; color: white" >
                    Cantidad de vigas
            </div>
            <div class="col-sm-3 print2"  style="border: 0.2px solid black; text-align: center; background: #383737; color: white">
                    M3
            </div>
            <div class="col-sm-3 print2"  style="border: 0.2px solid black; text-align: center; background: #383737; color: white" >
                    Densidad concreto
            </div>
            <div class="col-sm-2 print2"  style="border: 0.2px solid black; text-align: center; background: #383737; color: white" >
                Total peso
            </div>

        </div>





     {% for viga in vigas_total %}
        <div class="row">
            <div class="col-sm-2 data" >
                {{ viga.num }}
            </div>
            <div class="col-sm-2 data"  >
                {{viga.numero_vigas}}
            </div>
            <div class="col-sm-3 data" >
                {{viga.volumen_vigas}}
            </div>
            <div class="col-sm-3 data"  >
                {{ densidad_concreto }}
            </div>
            <div class="col-sm-2 data"  >
                {{viga.total_vigas}} KN
            </div>

        </div>

        {% endfor %}



        <div class="row">
            <div class="col-sm-12 data-color"  style="height: 20px !important" >
                    <span class="print" >Columnas {{ columna_weight }} KN</span>
            </div>
    </div>

    <div class="row">
        <div class="col-sm-2 print2"  style="border: 0.2px solid black; text-align: center; background: #383737; color: white">
                #
        </div>
        <div class="col-sm-2 print2"  style="border: 0.2px solid black; text-align: center; background: #383737; color: white" >
                Cantidad de Columnas
        </div>
        <div class="col-sm-3 print2"  style="border: 0.2px solid black; text-align: center; background: #383737; color: white">
                M3
        </div>
        <div class="col-sm-3 print2"  style="border: 0.2px solid black; text-align: center; background: #383737; color: white" >
                Densidad concreto
        </div>
        <div class="col-sm-2 print2"  style="border: 0.2px solid black; text-align: center; background: #383737; color: white" >
            Total peso
        </div>

    </div>





 {% for columna in columnas_total %}
    <div class="row">
        <div class="col-sm-2 data" >
            {{ columna.num }}
        </div>
        <div class="col-sm-2 data"  >
            {{columna.numero_columnas}}
        </div>
        <div class="col-sm-3 data" >
            {{columna.volumen_columnas}}
        </div>
        <div class="col-sm-3 data"  >
                {{ densidad_concreto }}
        </div>
        <div class="col-sm-2 data"  >
            {{columna.total_columnas}} KN
        </div>

    </div>

    {% endfor %}



<div class="row">
        <div class="col-sm-12 data-color"  style="height: 20px !important"  >
                <span class="print" > Placa {{ placa_weight }} KN</span>
        </div>
</div>

<div class="row">
    <div class="col-sm-1 print2"  style="border: 0.2px solid black; text-align: center; background: #383737; color: white">
            #
    </div>
    <div class="col-sm-3 print2"  style="border: 0.2px solid black; text-align: center; background: #383737; color: white" >
        Tipo de placa
    </div>
    <div class="col-sm-2 print2"  style="border: 0.2px solid black; text-align: center; background: #383737; color: white" >
            Numero de placas
    </div>
    <div class="col-sm-2 print2"  style="border: 0.2px solid black; text-align: center; background: #383737; color: white">
            Dimension
    </div>
    <div class="col-sm-2 print2"  style="border: 0.2px solid black; text-align: center; background: #383737; color: white" >
            Densidad material
    </div>
    <div class="col-sm-2 print2"  style="border: 0.2px solid black; text-align: center; background: #383737; color: white" >
        Total peso
    </div>

</div>


{% for placa in placa_all %}
<div class="row">
    <div class="col-sm-1 data" >
        {{ placa.num }}
    </div>
    <div class="col-sm-3 data"  >
        {{placa.tipo_placa }}
    </div>
    <div class="col-sm-2 data"  >
        {{placa.numero_placa }}
    </div>

    {% if placa.metro_lineal %}
        <div class="col-sm-2 data" >
            {{placa.metro_lineal}} ml
        </div>
    {% elif placa.area_bloquelon %}
        <div class="col-sm-2 data" >
            {{placa.area_bloquelon}} m2
        </div>

    {% else %}
        <div class="col-sm-2 data" >
            {{placa.volumen_placa}} m3
        </div>
    {% endif %}

    {% if placa.peso_perfil_m2 %}
    <div class="col-sm-2 data"  >
            {{ placa.peso_perfil_m2 }} kg/ml
    </div>
    {% elif placa.peso_bloquelon%}
    <div class="col-sm-2 data"  >
            {{ placa.peso_bloquelon }} kg/m2
    </div>
    {% else %}
    <div class="col-sm-2 data"  >
        {{ densidad_concreto }}
    </div>
    {% endif %}



    <div class="col-sm-2 data"  >
        {{placa.total_placa}} KN
    </div>

</div>

{% endfor %}






<br>
<div class="row">
        <div class="col-sm-12 " style="height: 40px" >
        </div>
    </div>

    <div class="row">
            <div class="col-sm-12 data-title print" style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
                <span class="print" style="position: relative; top:10px">CARGAS MUERTAS</span>
            </div>
        </div>
<div class="row">
        <div class="col-sm-12 data-color"  style="height: 20px !important" >
                <span class="print" >Otros elementos {{weight_other}} KN</span>
        </div>
</div>



<div class="row">
    <div class="col-sm-6 data-color" style="padding:0; background:#383737" >
        <div class="col-sm-5 print2" >
            Muro fachadas
        </div>
        <div class="col-sm-3 data-color print2" style="background: #383737" >
             Valor nsr-10
        </div>
        <div class="col-sm-2 data-color print2" style="background: #383737" >
            M2
        </div>
        <div class="col-sm-2 print2" >
            Total Peso
        </div>
    </div>
    <div class="col-sm-6 data-color print2" style="padding:0; background: #383737"">
        <div class="col-sm-5 print2" >
                Muro divisorio
            </div>
            <div class="col-sm-3 data-color print2" style="background: #383737" >
                    Valor nsr-10
            </div>
            <div class="col-sm-2 data-color print2" style="background: #383737" >
                M2
            </div>
            <div class="col-sm-2 print2" >
                Total Peso
            </div>
    </div>

</div>




<div class="row">
    <div class="col-sm-6 data-title2" style="padding:0" >

        <div class="col-sm-5" >
            {{ muro_fachada.tipo_muro}}
        </div>
        <div class="col-sm-3" >
            {{ muro_fachada.valor_nsr_10 }}
        </div>
        <div class="col-sm-2" >
            {{ muro_fachada.m2_muros }}
        </div>
        <div class="col-sm-2" >
            {{ muro_fachada.weight_muro }} KN

        </div>

    </div>
    <div class="col-sm-6 data-title2" style="padding:0" >

    <div class="col-sm-5 " >
            {{ muro_divisorio.tipo_muro}}
        </div>
        <div class="col-sm-3 " >
            {{ muro_divisorio.valor_nsr_10 }}
        </div>
        <div class="col-sm-2 " >
            {{ muro_divisorio.m2_muros }}
        </div>
        <div class="col-sm-2 " >


                {{ muro_divisorio.weight_muro }} KN

        </div>
</div>

</div>




    <div class="row">
        <div class="col-sm-6 data-color print2" style="padding:0; background: #383737" >
            <div class="col-sm-5 print2" >
                    Particiones livianas
            </div>
            <div class="col-sm-3 data-color print2" style="background: #383737">
                 Valor nsr-10
            </div>
            <div class="col-sm-2 data-color print2" style="background: #383737">
                M2
            </div>
            <div class="col-sm-2 print2" >
                Total Peso
            </div>
        </div>
        <div class="col-sm-6 data-color print2" style="padding:0; background: #383737">
            <div class="col-sm-5 print2" >
                    Ventanas
                </div>
                <div class="col-sm-3 data-color print2" style="background: #383737">
                        Valor nsr-10
                </div>
                <div class="col-sm-2 data-color print2" style="background: #383737">
                    M2
                </div>
                <div class="col-sm-2 print2" >
                    Total Peso
                </div>
        </div>

    </div>




    <div class="row">
        <div class="col-sm-6 data-title2" style="padding:0" >

            <div class="col-sm-5 " >
                {% if not  particiones %}
                    No tiene
                {% else %}
                    {{ particiones.tipo_particiones}}
                {% endif %}
            </div>
            <div class="col-sm-3 " >
                {{ particiones.valor_nsr_10 }}
            </div>
            <div class="col-sm-2 " >
                {{ particiones.m2_particiones }}
            </div>
            <div class="col-sm-2 " >

                {% if not  particiones %}
                {% else %}
                    {{ particiones.weight_particiones }} KN
                {% endif %}
            </div>

        </div>
        <div class="col-sm-6 data-title2" style="padding:0" >

            <div class="col-sm-5" >

                    {% if not  ventanas %}
                        No tiene
                    {% else %}
                        {{ ventanas.tipo_ventanas}}
                    {% endif %}
            </div>
            <div class="col-sm-3" >
                {{ ventanas.valor_nsr_10 }}
            </div>
            <div class="col-sm-2" >
                {{ ventanas.m2_ventanas }}
            </div>
            <div class="col-sm-2" >

                {% if not  ventanas %}
                {% else %}
                    {{ ventanas.weight_ventanas }} KN
                {% endif %}
            </div>
        </div>

    </div>







        <div class="row">
            <div class="col-sm-6 data-color print2" style="padding:0; background: #383737" >
                <div class="col-sm-5 print2" >
                        Tipo de cubierta:
                </div>
                <div class="col-sm-3 data-color print2" style="background: #383737" >
                     Valor nsr-10
                </div>
                <div class="col-sm-2 data-color print2" style="background: #383737" >
                    M2
                </div>
                <div class="col-sm-2 print2" >
                    Total Peso
                </div>
            </div>
            <div class="col-sm-6 data-color print2" style="padding:0; background: #383737">
                <div class="col-sm-5 print2" >
                        Tipo de pisos:
                    </div>
                    <div class="col-sm-3 data-color print2" style="background: #383737">
                            Valor nsr-10
                    </div>
                    <div class="col-sm-2 data-color print2" style="background: #383737" >
                        M2
                    </div>
                    <div class="col-sm-2 print2" >
                        Total Peso
                    </div>
            </div>

        </div>




        <div class="row">
            <div class="col-sm-6 data-title2" style="padding:0" >
                <div class="col-sm-5 " >

                    {% if not  cubierta %}
                        No tiene
                    {% else %}
                        {{ cubierta.tipo_cubierta}}

                    {% endif %}
                </div>
                <div class="col-sm-3 " >
                    {{ cubierta.valor_nsr_10 }}
                </div>
                <div class="col-sm-2 " >
                    {{ cubierta.m2_cubierta }}
                </div>
                <div class="col-sm-2 " >

                    {% if not  cubierta %}
                    {% else %}
                        {{ cubierta.cubierta_weight }} KN
                    {% endif %}
                </div>

            </div>
            <div class="col-sm-6 data-title2" style="padding:0" >

            <div class="col-sm-5" >

                    {% if not  piso %}
                        No tiene
                    {% else %}
                        {{ piso.tipo_piso}}
                    {% endif %}
                </div>
                <div class="col-sm-3" >
                    {{ piso.valor_nsr_10 }}
                </div>
                <div class="col-sm-2" >
                    {{ piso.m2_pisos }}
                </div>
                <div class="col-sm-2" >

                    {% if not  piso %}
                    {% else %}
                        {{ piso.piso_weight }} KN
                    {% endif %}
                </div>
        </div>

        </div>





    <div class="row">
        <div class="col-sm-6 data-color print2" style="padding:0; background: #383737" >
            <div class="col-sm-5 print2" >
                    Recubrimiento
            </div>
            <div class="col-sm-3 data-color print2" style="background: #383737" >
                    Valor nsr-10
            </div>
            <div class="col-sm-2 data-color print2" style="background: #383737" >
                M2
            </div>
            <div class="col-sm-2 print2" >
                Total Peso
            </div>
        </div>
        <div class="col-sm-6 data-color print2" style="padding:0; background: #383737">
            <div class="col-sm-5 print2" >
                    Enchapes
                </div>
                <div class="col-sm-3 data-color print2"  style="background: #383737">
                        Valor nsr-10
                </div>
                <div class="col-sm-2 data-color print2" style="background: #383737" >
                    M2
                </div>
                <div class="col-sm-2 print2" >
                    Total Peso
                </div>
        </div>

    </div>




    <div class="row">
        <div class="col-sm-6 data-title2" style="padding:0" >

            <div class="col-sm-5 " >


                {% if not  recubrimiento %}
                    No tiene
                {% else %}
                    {{ recubrimiento.tipo_recubrimiento}}

                {% endif %}
            </div>
            <div class="col-sm-3 " >
                {{ recubrimiento.valor_nsr_10 }}
            </div>
            <div class="col-sm-2 " >
                {{ recubrimiento.m2_recubrimiento }}
            </div>
            <div class="col-sm-2 " >

                {% if not  recubrimiento %}

                {% else %}
                {{ recubrimiento.recubrimiento_weight }} KN
                {% endif %}
            </div>

        </div>
        <div class="col-sm-6 data-title2" style="padding:0" >

            <div class="col-sm-5 " >

                {% if not  enchape %}
                    No tiene
                {% else %}
                    {{ enchape.tipo_enchape}}
                {% endif %}
            </div>
            <div class="col-sm-3 " >
                {{ enchape.valor_nsr_10 }}
            </div>
            <div class="col-sm-2 " >
                {{ enchape.m2_enchape }}
            </div>
            <div class="col-sm-2 " >
                {% if not  enchape %}

                {% else %}
                    {{ enchape.enchape_weight }} KN
                {% endif %}
            </div>
        </div>

    </div>





<div class="row">
    <div class="col-sm-6 data-title print" style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
        <span class="print" style="position: relative; top:10px">TOTAL CARGAS MUERTAS</span>
    </div>
    <div class="col-sm-6 data-title" >
        <span style="position: relative; top:10px">{{ weight_death }} KN</span>
    </div>
</div>

<br>
<div class="row">
    <div class="col-sm-12 " style="height: 40px" >
    </div>
</div>

<div class="row">
    <div class="col-sm-12 data-title print" style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
        <span class="print" style="position: relative; top:10px">CARGAS VIVAS</span>
    </div>
</div>




    <div class="row">
        <div class="col-sm-6 data-color" style="padding:0; background:#383737" >
            <div class="col-sm-5 print2 " >
                    Uso
            </div>
            <div class="col-sm-3 data-color print2" style="background:#383737" >
                    Valor nsr-10
            </div>
            <div class="col-sm-2 data-color print2 " style="background:#383737" >
                M2
            </div>
            <div class="col-sm-2 print2"  style="background:#383737">
                Total Peso
            </div>
        </div>
        <div class="col-sm-6 data-color" style="padding:0">
            <div class="col-sm-5 print2" style="background:#383737" >
                    Cubierta
                </div>
                <div class="col-sm-3 data-color print2" style="background:#383737"  >
                        Valor nsr-10
                </div>
                <div class="col-sm-2 data-color print2" style="background:#383737" >
                    M2
                </div>
                <div class="col-sm-2 print2" style="background:#383737" >
                    Total Peso
                </div>
        </div>

    </div>




    <div class="row">
        <div class="col-sm-6 data-title2" style="padding:0" >

            <div class="col-sm-5" >
                {{ ocupacion.tipo_ocupacion }}
            </div>
            <div class="col-sm-3" >
                {{ ocupacion.valor_nsr_10 }}
            </div>
            <div class="col-sm-2" >
                {{ ocupacion.m2_ocupacion }}
            </div>
            <div class="col-sm-2" >
                {{ ocupacion.ocupacion_weight }} KN
            </div>

        </div>
        <div class="col-sm-6 data-title2" style="padding:0" >

            <div class="col-sm-5" style="overflow-y: auto" >
                    {{ cubierta_viva.tipo_cubierta}}
            </div>
            <div class="col-sm-3" >
                {{ cubierta_viva.valor_nsr_10 }}
            </div>
            <div class="col-sm-2" >
                {{ cubierta_viva.m2_cubierta_viva }}
            </div>
            <div class="col-sm-2" >
                {{ cubierta_viva.cubierta_viva_weight }} KN
            </div>
        </div>

    </div>





<div class="row">
    <div class="col-sm-6 data-title print" style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
        <span class="print" style="position: relative; top:10px">TOTAL CARGAS VIVAS</span>
    </div>
    <div class="col-sm-6 data-title" >
        <span  style="position: relative; top:10px">{{ weight_life }} KN</span>
    </div>
</div>

<div class="row">
    <div class="col-sm-6 data-title print" style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
        <span class="print" style="position: relative; top:10px">TOTAL CARGAS</span>
    </div>
    <div class="col-sm-6 data-title" >
        <span style="position: relative; top:10px">{{ weight_all }} KN</span>
    </div>
</div>
<br>
<br>

<div class="row">
    <div class="col-sm-12 data-title print" style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
        <span class="print" style="position: relative; top:10px">MÉTODO FUERZA EQUIVALENTE</span>
    </div>
</div>
<div class="row">
    <div class="col-sm-2 data print"  style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
        To
    </div>
    <div class="col-sm-2 data" >
        {{ To }}
    </div>
    <div class="col-sm-2 data print"  style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
            T
    </div>
    <div class="col-sm-2 data" >
        {{ T }}
    </div>
    <div class="col-sm-2 data print"  style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
        Vs(KN)
    </div>
    <div class="col-sm-2 data" >
        {{ Vs }}
    </div>


</div>

<div class="row">
    <div class="col-sm-2 data print"  style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
           Tc
    </div>
    <div class="col-sm-2 data" >
        {{ Tc }}
    </div>
    <div class="col-sm-2 data print"  style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
        K
    </div>
    <div class="col-sm-2 data" >
        {{ K }}
    </div>
    <div class="col-sm-2 data print"  style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
        R’
    </div>
    <div class="col-sm-2 data" >
        {{ r_prima }}
    </div>


</div>

<div class="row">
    <div class="col-sm-2 data print"  style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
           Tl
    </div>
    <div class="col-sm-2 data" >
        {{ Tl }}
    </div>
    <div class="col-sm-2 data print"  style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
            Sa
    </div>
    <div class="col-sm-2 data" >
        {{ Sa }}
    </div>
    <div class="col-sm-2 data print"  style="border: 0.2px solid black; text-align: center; background: #525573; color: white">
        E
    </div>
    <div class="col-sm-2 data" >
        {{ E }}
    </div>


</div>
<br>


<script>
    var a = parseFloat('{{Sa_1 }}')
    var b = parseFloat('{{Sa_8 }}')
    window.onload = function () {

    // var chart = new CanvasJS.Chart("chartContainer", {
    //     title: {
    //         text: "House Median Price"
    //     },
    //     axisX: {
    //         // valueFormatString: "MMM YYYY"
    //         // prefix: "$",
    //         // suffix: "T"
    //         title: "T"
    //     },
    //     axisY2: {
    //         title: "Median List Price",
    //         prefix: "$",
    //         suffix: "K"
    //     },
    //     toolTip: {
    //         shared: true
    //     },
    //     legend: {
    //         cursor: "pointer",
    //         verticalAlign: "top",
    //         horizontalAlign: "center",
    //         dockInsidePlotArea: true,
    //         itemclick: toogleDataSeries
    //     },
    //     // for ( 'T_x'){

    //     // }
    //     // const T_x = eval('{{ T_x }}')
    //     // for (const element of T_x) {
    //     //     console.log(element);
    //     // }

    //     // const Sa_list = eval('{{ Sa_list }}')
    //     // for (const element of Sa_list) {
    //     //     console.log(element);
    //     // }

    //     data: [{
    //         type:"line",
    //         axisYType: "secondary",
    //         name: "San Fransisco",
    //         showInLegend: true,
    //         markerSize: 0,
    //         yValueFormatString: "$#,##k",
    //         dataPoints: [
    //             { x: 0.00, y: parseFloat(parseFloat('{{Sa_0 }}').toFixed(8)) },
    //             { x: 0.06, y: parseFloat(parseFloat('{{Sa_1 }}').toFixed(8)) },
    //             { x: 0.11, y: parseFloat(parseFloat('{{Sa_2 }}').toFixed(8)) },
    //             { x: 0.17, y: parseFloat(parseFloat('{{Sa_3 }}').toFixed(8)) },
    //             { x: 0.23, y: parseFloat(parseFloat('{{Sa_4 }}').toFixed(8)) },
    //             { x: 0.28, y: parseFloat(parseFloat('{{Sa_5 }}').toFixed(8)) },
    //             { x: 0.34, y: parseFloat(parseFloat('{{Sa_6 }}').toFixed(8)) },
    //             { x: 0.40, y: parseFloat(parseFloat('{{Sa_7 }}').toFixed(8)) },
    //             { x: 0.45, y: parseFloat(parseFloat('{{Sa_8 }}').toFixed(8)) },
    //             { x: 0.51, y: parseFloat(parseFloat('{{Sa_9 }}').toFixed(8)) },
    //             { x: 0.57, y: parseFloat(parseFloat('{{Sa_10 }}').toFixed(8)) },
    //             { x: 0.62, y: parseFloat(parseFloat('{{Sa_11 }}').toFixed(8)) },
    //             { x: 0.68, y: parseFloat(parseFloat('{{Sa_12 }}').toFixed(8)) },
    //             { x: 0.74, y: parseFloat(parseFloat('{{Sa_13 }}').toFixed(8)) },
    //             { x: 0.79, y: parseFloat(parseFloat('{{Sa_14 }}').toFixed(8)) },
    //             { x: 0.85, y: parseFloat(parseFloat('{{Sa_15 }}').toFixed(8)) },
    //             { x: 0.91, y: parseFloat(parseFloat('{{Sa_16 }}').toFixed(8)) },
    //             { x: 0.96, y: parseFloat(parseFloat('{{Sa_17 }}').toFixed(8)) },
    //             { x: 1.02, y: parseFloat(parseFloat('{{Sa_18 }}').toFixed(8)) },
    //             { x: 1.08, y: parseFloat(parseFloat('{{Sa_19 }}').toFixed(8)) },
    //             { x: 1.13, y: parseFloat(parseFloat('{{Sa_20 }}').toFixed(8)) },
    //             { x: 1.19, y: parseFloat(parseFloat('{{Sa_21 }}').toFixed(8)) },
    //             { x: 1.25, y: parseFloat(parseFloat('{{Sa_22 }}').toFixed(8)) },
    //             { x: 1.30, y: parseFloat(parseFloat('{{Sa_23 }}').toFixed(8)) },
    //             { x: 1.36, y: parseFloat(parseFloat('{{Sa_24 }}').toFixed(8)) },
    //             { x: 1.41, y: parseFloat(parseFloat('{{Sa_25 }}').toFixed(8)) },
    //             { x: 1.47, y: parseFloat(parseFloat('{{Sa_26 }}').toFixed(8)) },
    //             { x: 1.53, y: parseFloat(parseFloat('{{Sa_27 }}').toFixed(8)) },
    //             { x: 1.58, y: parseFloat(parseFloat('{{Sa_28 }}').toFixed(8)) },
    //             { x: 1.64, y: parseFloat(parseFloat('{{Sa_29 }}').toFixed(8)) },
    //             { x: 1.70, y: parseFloat(parseFloat('{{Sa_30 }}').toFixed(8)) },
    //             { x: 1.75, y: parseFloat(parseFloat('{{Sa_32 }}').toFixed(8)) },
    //             { x: 1.81, y: parseFloat(parseFloat('{{Sa_32 }}').toFixed(8)) },
    //             { x: 1.87, y: parseFloat(parseFloat('{{Sa_33 }}').toFixed(8)) },
    //             { x: 1.92, y: parseFloat(parseFloat('{{Sa_34 }}').toFixed(8)) },
    //             { x: 1.98, y: parseFloat(parseFloat('{{Sa_35 }}').toFixed(8)) },
    //             { x: 2.04, y: parseFloat(parseFloat('{{Sa_36 }}').toFixed(8)) },
    //             { x: 2.09, y: parseFloat(parseFloat('{{Sa_37 }}').toFixed(8)) },
    //             { x: 2.15, y: parseFloat(parseFloat('{{Sa_38 }}').toFixed(8)) },
    //             { x: 2.21, y: parseFloat(parseFloat('{{Sa_39 }}').toFixed(8)) },
    //             { x: 2.26, y: parseFloat(parseFloat('{{Sa_40 }}').toFixed(8)) },
    //             { x: 2.32, y: parseFloat(parseFloat('{{Sa_41 }}').toFixed(8)) },
    //             { x: 2.38, y: parseFloat(parseFloat('{{Sa_42 }}').toFixed(8)) },
    //             { x: 2.43, y: parseFloat(parseFloat('{{Sa_43 }}').toFixed(8)) },
    //             { x: 2.49, y: parseFloat(parseFloat('{{Sa_44 }}').toFixed(8)) },
    //         ]
    //     }]
    // });
    // chart.render();
    // console.log(parseFloat('{{Sa_1 }}'))
    // function toogleDataSeries(e){
    //     if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
    //         e.dataSeries.visible = false;
    //     } else{
    //         e.dataSeries.visible = true;
    //     }
    //     chart.render();
    // }

    // }
    var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title:{
		text: "Espectro elástico de aceleraciones como fracción de g"
	},
	axisY: {
		title: "Espectro de diseño de aceleración",
		valueFormatString: "Sa #,##0.00##",
		suffix: "",
		prefix: ""
	},
	data: [{
		type: "splineArea",
		color: "rgba(54,158,173,.7)",
		markerSize: 5,
		xValueFormatString: "T",
		yValueFormatString: "Sa #,##0.00##",
		dataPoints: [
                { x: 0.00, y: parseFloat(parseFloat('{{Sa_0 }}').toFixed(8)) },
                { x: 0.06, y: parseFloat(parseFloat('{{Sa_1 }}').toFixed(8)) },
                { x: 0.11, y: parseFloat(parseFloat('{{Sa_2 }}').toFixed(8)) },
                { x: 0.17, y: parseFloat(parseFloat('{{Sa_3 }}').toFixed(8)) },
                { x: 0.23, y: parseFloat(parseFloat('{{Sa_4 }}').toFixed(8)) },
                { x: 0.28, y: parseFloat(parseFloat('{{Sa_5 }}').toFixed(8)) },
                { x: 0.34, y: parseFloat(parseFloat('{{Sa_6 }}').toFixed(8)) },
                { x: 0.40, y: parseFloat(parseFloat('{{Sa_7 }}').toFixed(8)) },
                { x: 0.45, y: parseFloat(parseFloat('{{Sa_8 }}').toFixed(8)) },
                { x: 0.51, y: parseFloat(parseFloat('{{Sa_9 }}').toFixed(8)) },
                { x: 0.57, y: parseFloat(parseFloat('{{Sa_10 }}').toFixed(8)) },
                { x: 0.62, y: parseFloat(parseFloat('{{Sa_11 }}').toFixed(8)) },
                { x: 0.68, y: parseFloat(parseFloat('{{Sa_12 }}').toFixed(8)) },
                { x: 0.74, y: parseFloat(parseFloat('{{Sa_13 }}').toFixed(8)) },
                { x: 0.79, y: parseFloat(parseFloat('{{Sa_14 }}').toFixed(8)) },
                { x: 0.85, y: parseFloat(parseFloat('{{Sa_15 }}').toFixed(8)) },
                { x: 0.91, y: parseFloat(parseFloat('{{Sa_16 }}').toFixed(8)) },
                { x: 0.96, y: parseFloat(parseFloat('{{Sa_17 }}').toFixed(8)) },
                { x: 1.02, y: parseFloat(parseFloat('{{Sa_18 }}').toFixed(8)) },
                { x: 1.08, y: parseFloat(parseFloat('{{Sa_19 }}').toFixed(8)) },
                { x: 1.13, y: parseFloat(parseFloat('{{Sa_20 }}').toFixed(8)) },
                { x: 1.19, y: parseFloat(parseFloat('{{Sa_21 }}').toFixed(8)) },
                { x: 1.25, y: parseFloat(parseFloat('{{Sa_22 }}').toFixed(8)) },
                { x: 1.30, y: parseFloat(parseFloat('{{Sa_23 }}').toFixed(8)) },
                { x: 1.36, y: parseFloat(parseFloat('{{Sa_24 }}').toFixed(8)) },
                { x: 1.41, y: parseFloat(parseFloat('{{Sa_25 }}').toFixed(8)) },
                { x: 1.47, y: parseFloat(parseFloat('{{Sa_26 }}').toFixed(8)) },
                { x: 1.53, y: parseFloat(parseFloat('{{Sa_27 }}').toFixed(8)) },
                { x: 1.58, y: parseFloat(parseFloat('{{Sa_28 }}').toFixed(8)) },
                { x: 1.64, y: parseFloat(parseFloat('{{Sa_29 }}').toFixed(8)) },
                { x: 1.70, y: parseFloat(parseFloat('{{Sa_30 }}').toFixed(8)) },
                { x: 1.75, y: parseFloat(parseFloat('{{Sa_32 }}').toFixed(8)) },
                { x: 1.81, y: parseFloat(parseFloat('{{Sa_32 }}').toFixed(8)) },
                { x: 1.87, y: parseFloat(parseFloat('{{Sa_33 }}').toFixed(8)) },
                { x: 1.92, y: parseFloat(parseFloat('{{Sa_34 }}').toFixed(8)) },
                { x: 1.98, y: parseFloat(parseFloat('{{Sa_35 }}').toFixed(8)) },
                { x: 2.04, y: parseFloat(parseFloat('{{Sa_36 }}').toFixed(8)) },
                { x: 2.09, y: parseFloat(parseFloat('{{Sa_37 }}').toFixed(8)) },
                { x: 2.15, y: parseFloat(parseFloat('{{Sa_38 }}').toFixed(8)) },
                { x: 2.21, y: parseFloat(parseFloat('{{Sa_39 }}').toFixed(8)) },
                { x: 2.26, y: parseFloat(parseFloat('{{Sa_40 }}').toFixed(8)) },
                { x: 2.32, y: parseFloat(parseFloat('{{Sa_41 }}').toFixed(8)) },
                { x: 2.38, y: parseFloat(parseFloat('{{Sa_42 }}').toFixed(8)) },
                { x: 2.43, y: parseFloat(parseFloat('{{Sa_43 }}').toFixed(8)) },
                { x: 2.49, y: parseFloat(parseFloat('{{Sa_44 }}').toFixed(8)) },
		]
	}]
	});
chart.render();

}
    </script>
    <br>
    <br>
    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
    <script src="/static/js/canvasjs.min.js"></script>










<style>

        div div {
            text-align: center;
        }
        body {
          background-color: white;
        }

        h1 {
          text-align: center;
        }
        .data {
            border: 0.2px solid black;

            height: 20px;
        }
        .data-title{
            border: 0.2px solid black;

            height: 40px;
        }
        .data-title2{
            border-left: 0.2px solid black;
            border-right: 0.2px solid black;
            height: 40px;
        }
        .data-color {
            background: #525573;
            border: 0.2px solid black;
            height: 20px;
            color: white
        }

        .data-porcentage {
            border: 0.2px solid black;

            height: 60px;
        }
        body {
        -webkit-print-color-adjust: exact !important;
        }
</style>
<style media="print" type="text/css">
    .data-color {
        background-color: #525573 !important;
        color: white !important;
    }
    .print{
        background-color: #525573 !important;
        color: white !important;
    }
    .print2{
        background-color: #383737 !important;
        color: white !important;
    }
</style>
<script>
		Swal.fire({
			icon:'success',
			title:'Proceso calculado correctamente'
			})
</script>
</body>
</html>