{% extends "users/base.html" %}

{% block head_content %}
<title>sign in</title>
{% endblock%}

{% block container %}
    <div class="form-group" >
        <h8>DETERMINACION DE VULNERABILIDA SISMICA</h8>
    </div>



    {% if error %}
        <p class="alert alert-danger">{{ error }}</p>
    {% endif%}


    <form method="POST" action="{% url "login" %}">
        {% csrf_token %}


        <div class="form-group">

            <input class="form-control" type="text" placeholder="Username" name="username" />
        </div>

        <div class="form-group">
            <input class="form-control" type="password" placeholder="Password" name="password" />
        </div>


        <button class="btn btn-primary btn-block mt-5" type="submit">Iniciar Sesion</button>


    </form>
    <form method="POST" action="{% url "new" %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-link">¿Eres nuevo?</button>
    </form>

{% endblock %}
