<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="/static/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="/static/css/main.css" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>
    <style>
            #mapid { height: 180px;
            width:100%;
            height:400px;
            }
    </style>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
    crossorigin=""></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <link rel="stylesheet" href="/static/css/bootstrap2.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" crossorigin="anonymous" />
    <link rel='shortcut icon' type='image/x-icon' href='/static/img/earthquake.png' />
		<title>Bogotá earthquake
			</title>
    <script src="/static/js/jquery.min.js"></script>
    <script  type="text/javascript"  src="/static/js/script_volumns.js"></script>
    <script  type="text/javascript"  src="/static/js/script.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>

<body>

    <div style="width: 100%;  height:60px; background: #272833" id="main-navbar">

        <a  href="{% url 'page' %}" style="color: white;  position:relative;
        left:50px;
        top:17px;
        font-weight: bold;""
        ><img   style="width: 20px !important" src="/static/img/home2.png"></a>
        <a href="{% url 'logout' %}" style="color: white;  position:relative;
        left:80px;
        top:17px;
        font-weight: bold;""><img style="width: 20px !important" src="/static/img/logout2.png"></a>

    </div>

<h1 id="title_process">Método AIS</h1>
<div style="width: 76%; margin:auto"><p style="text-align: justify;">
  Este método evaluá aspectos cualitativos de la vivienda,  en donde usted determinara bajo su criterio en qué estado  se encuentra la vivienda. El estado se clasifica por Bueno, Regular y Malo el cual contará con una descripción y una imagen para explicar el item seleccionado. El campo de Observaciones es opcional
</p></div>

<form id="regForm" action="{% url 'ais' %}" method="POST" enctype="multipart/form-data">
  <!-- One "tab" for each step in the form: -->
  {% csrf_token %}



  <div class="tab">
    <div class="regForm2">
      <div style="text-align: center;"class="col-lg-12" id="property">


      </div>
      <div class="col-lg-12" id="property">
        <h4>1. Irregularidad en planta de la edificacion</h4>
        <br>
      </div>

      <div class="col-lg-12" id="property_0">

          <div class="row" id="info_0">
              <div class="col-sm-6">
                      <div class="form-group">
                          <label>Estado:</label>
                          <select class="form-control" name="option_floor" id="option_floor" required>

                            <option name="Bueno" type="number" value=0 selected>Bueno</option>
                            <option name="Regular" type="number" value=1>Regular</option>
                            <option name="Malo" type="number" value=2>Malo</option>
                          </select>
                      </div>

              </div>

              <div class="col-sm-6">
                  <div class="form-group">
                      <label>Observaciones:</label>
                      <input
                          class="form-control observation"
                          type="text"
                          name="obersation_floor"
                          required

                        />
                  </div>

                </div>

          </div>

          <div class="row" id="info_0">

                <div class="col-sm-6">
                    <label>Descripción:</label>
                  <div class="form-group" id="info_descrip_floor" >

                      <ul><li>Forma geométrica de la edificación es regular y aproximadamente simetrica. </li><li>El largo es menor a 2.5 veces el ancho. </li><li>No tiene "entradas y salidas" como las que se muestran en las otras dos figuras, visto tanto en planta como en altura. </li></ul>
                        <!-- <a  class="more_information test" id="info_descrip_floor" >Ver descripción</a> -->
                    </div>
                </div>
                <div class="col-sm-6">
                    <label>Imagen:</label>
                    <div class="form-group" id="info_img_floor">
                        <!-- <a class="more_information test" id="info_img_floor" >Ver imagen</a> -->
                        <img style="display: block;
                        margin: auto;" src="/static/images/1_floor.png">
                    </div>
                </div>




        </div>




      </div>

      <div class="col-lg-12" id="property_0">
        <div style="height: 30px"></div>
      </div>


      <div class="col-lg-12" id="property">
          <h4>2. Cantidad de muros en las dos direcciones</h4>
          <br>
        </div>

      <div class="col-lg-12" id="property_0">

          <div class="row" id="info_0">
              <div class="col-sm-6">
                      <div class="form-group">
                          <label>Estado:</label>
                          <select class="form-control" name="option_wall" id="option_wall" required>
                            <option name="Bueno" value=0 selected>Bueno</option>
                            <option name="Regular" value=1>Regular</option>
                            <option name="Malo" value=2>Malo</option>
                          </select>
                      </div>

              </div>

              <div class="col-sm-6">
                  <div class="form-group">
                      <label>Observaciones:</label>
                      <input
                          class="form-control observation"
                          type="text"
                          name="observation_wall"
                          required

                        />
                  </div>

                </div>




          </div>

          <div class="row" id="info_0">


              <div class="col-sm-6">
                  <label>Descripción:</label>
                  <div class="form-group" id="info_descrip_wall">
                      <ul><li>Existen muros estructurales en las dos direcciones principales de la vivienda y estyos son confinados o reforzados.</li><li>Hay una longitud totalizada de muros en cada una de las direcciones principales al menos igual al valor dado por:<ul><li>Lo=(Mo*Ap)/t</li><li>Ap: Area en m2 de la planta (si la cuebierta es liviana, lamina, asbesto, cemento, ap se puede multiplicar por 0.67).</li><li>t: espesor de muros.</li></ul></li></ul>

                  </div>
              </div>
              <div class="col-sm-6">
                  <label>Imagen:</label>
                      <div class="form-group" id="info_img_wall">
                          <img style="display: block;
                          margin: auto;" src="/static/images/1_wall.png">

                      </div>

              </div>


          </div>








      </div>

      <div class="col-lg-12" id="property_0">
        <div style="height: 30px"></div>
      </div>






      <div class="col-lg-12" id="property">
        <h4>3. Irregularidad en altura</h4>
        <br>
      </div>

      <div class="col-lg-12" id="property_0">

          <div class="row" id="info_0">
              <div class="col-sm-6">
                      <div class="form-group">
                          <label>Estado:</label>
                          <select class="form-control" id="option_height" name="option_height" required>
                            <option name="Bueno" value=0 selected>Bueno</option>
                            <option name="Regular" value=1>Regular</option>
                            <option name="Malo" value=2>Malo</option>
                          </select>
                      </div>

              </div>

              <div class="col-sm-6">
                  <div class="form-group">
                      <label>Observaciones:</label>
                      <input
                          class="form-control observation"
                          type="text"
                          name="observation_height"
                          required

                        />
                  </div>

                </div>

          </div>



          <div class="row" id="info_0">

              <div class="col-sm-6">
                  <label>Descripción:</label>
                <div class="form-group" id="info_descrip_height">
                    <ul><li>La mayoria de los muros estructurales son continuos desde la cimentacion hasta la cubierta</li></ul>
                </div>
              </div>
              <div class="col-sm-6">
                  <label>Imagen:</label>
                  <div class="form-group" id="info_img_height">
                      <img style="display: block;margin: auto;" src="/static/images/1_height.png">
                  </div>

              </div>


          </div>


      </div>


    </div>
  </div>



  <div class="tab">
      <div class="regForm2">
        <div style="text-align: center;"class="col-lg-12" id="property">

        </div>
        <div class="col-lg-12" id="property">
          <h4>4. Calidad de las juntas de pega en mortero</h4>
          <br>
        </div>

        <div class="col-lg-12" id="property_0">

            <div class="row" id="info_0">
                <div class="col-sm-6">
                        <div class="form-group">
                            <label>Estado:</label>
                            <select class="form-control" name="option_quality" id="option_quality" required>

                              <option name="Bueno" value=0 selected>Bueno</option>
                              <option name="Regular" value=1>Regular</option>
                              <option name="Malo" value=2>Malo</option>
                            </select>
                        </div>

                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Observaciones:</label>
                        <input
                            class="form-control observation"
                            type="text"
                            name="obersation_quality"
                            required

                          />
                    </div>

                  </div>

            </div>

            <div class="row" id="info_0">

                <div class="col-sm-6">
                    <label>Descripción:</label>
                    <div class="form-group" id="info_descrip_quality">
                        <ul><li>El mortero de la mayoría de las pegas esta entre 0.7 y 1.3 cm. </li><li>Las juntas son uniformes y continuas.</li><li>Hay juntas de buena calidad verticales y horizontales rodeando cada unidad de mampostería.</li><li>El mortero es de buena calidad y presentan buena adherencia con la pieza de mampostería</li></ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label>Imagen:</label>
                      <div class="form-group" id="info_img_quality">
                          <img style="display: block;margin: auto;" src="/static/images/1_quality.png">
                      </div>
                  </div>
            </div>


        </div>

        <div class="col-lg-12" id="property_0">
          <div style="height: 30px"></div>
        </div>


        <div class="col-lg-12" id="property">
            <h4>5. Tipo y disposición de las unidades de mampostería</h4>
            <br>
          </div>

        <div class="col-lg-12" id="property_0">

            <div class="row" id="info_0">
                <div class="col-sm-6">
                        <div class="form-group">
                            <label>Estado:</label>
                            <select class="form-control" name="option_location" id="option_location" required>

                              <option name="Bueno" value=0 selected>Bueno</option>
                              <option name="Regular" value=1>Regular</option>
                              <option name="Malo" value=2>Malo</option>
                            </select>
                        </div>

                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Observaciones:</label>
                        <input
                            class="form-control observation"
                            type="text"
                            name="observation_location"
                            required

                          />
                    </div>

                  </div>

            </div>



            <div class="row" id="info_0">
                <div class="col-sm-6">
                    <label>Descripción:</label>
                    <div class="form-group" id="info_descrip_location">
                        <ul><li>Las unidades de mampostería están trabadas.</li><li>Las unidades de mampostería son de buena calidad. No presentan agrietamientos importantes, nos hay piezas deterioradas o rotas.</li><li>Las piezas están colocadas de manera uniforme y continua hilada tras hilada.</li></ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label>Imagen:</label>
                        <div class="form-group" id="info_img_location">
                            <img style="display: block;margin: auto;" src="/static/images/1_location.png">
                        </div>

                </div>
            </div>

        </div>


        <div class="col-lg-12" id="property_0">
          <div style="height: 30px"></div>
        </div>

        <div class="col-lg-12" id="property">
          <h4>6. Calidad de los materiales</h4>
          <br>
        </div>

        <div class="col-lg-12" id="property_0">

            <div class="row" id="info_0">
                <div class="col-sm-6">
                        <div class="form-group">
                            <label>Estado:</label>
                            <select class="form-control" id="option_materials" name="option_materials" required>
                              <option name="Bueno" value=0 selected>Bueno</option>
                              <option name="Regular" value=1>Regular</option>
                              <option name="Malo" value=2>Malo</option>
                            </select>
                        </div>

                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Observaciones:</label>
                        <input
                            class="form-control observation"
                            type="text"
                            name="observation_materials"
                            required

                          />
                    </div>

                  </div>

            </div>



            <div class="row" id="info_0">
                <div class="col-sm-6">
                    <label>Descripción:</label>
                    <div class="form-group" id="info_descrip_materials">
                        <ul><li>El mortero no se deja rayar o desmoronar con un clavo o herramienta metálicas.</li><li>El concreto tiene buen aspecto, sin hormigueros y el acero no esta expuesto.</li><li>En los elementos de confinamiento en concreto reforzado, hay estribos abundantes y por lo menos 3 a 4 barras No 3, en sentido longitudinal.</li><li>El ladrillo es de buena calidad, no esta muy fisurado, quebrado, ni despegado y resiste caídas de por lo menos 2 metros de alto sin desintegrarse ni deteriorarse en forma apreciable.</li></ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label>Imagen:</label>
                        <div class="form-group"  id="info_img_materials">
                            <img style="display: block;margin: auto;" src="/static/images/1_materials.png">

                    </div>

                </div>
            </div>



        </div>

      </div>
    </div>


  <div class="tab">
      <div class="regForm2">

        <div class="col-lg-12" id="property">
          <h4>7. Muros confinados y reforzados</h4>
          <br>
        </div>

        <div class="col-lg-12" id="property_0">

            <div class="row" id="info_0">
                <div class="col-sm-6">
                        <div class="form-group">
                            <label>Estado:</label>
                            <select class="form-control" name="option_confined_walls" id="option_confined_walls" required>
                              <option name="Bueno" value=0 selected>Bueno</option>
                              <option name="Regular" value=1>Regular</option>
                              <option name="Malo" value=2>Malo</option>
                            </select>
                        </div>

                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Observaciones:</label>
                        <input
                            class="form-control observation"
                            type="text"
                            name="obersation_confined_walls"
                            required

                          />
                    </div>

                  </div>




            </div>
            <div class="row" id="info_0">
                <div class="col-sm-6">
                    <label>Descripción:</label>
                    <div class="form-group" id="info_descrip_confined_walls">
                        <ul><li>Todos los muros de mampostería de la vivienda están confinados con vigas y columnas de concreto reforzado alrededor de ellos.</li><li>El espaciamiento máximo entre elementos de confinamiento es del orden de 4m o la altura entre pisos.</li><li>Todos los elementos de confinamiento tienen refuerzo tanto longitudinal como transversal y esta adecuadamente dispuesto.</li><li>Las culatas y antepechos también están confinados.</li></ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group" id="info_img_confined_walls">
                        <img style="display: block;margin: auto;" src="/static/images/1_confined_walls.png">
                      </div>

                </div>
            </div>

            <br></br>
        </div>


        <div class="col-lg-12" id="property">
            <h4>8. Detalles de columnas y vigas de confinamiento</h4>
            <br>
          </div>

        <div class="col-lg-12" id="property_0">

            <div class="row" id="info_0">
                <div class="col-sm-6">
                        <div class="form-group">
                            <label>Estado:</label>
                            <select class="form-control" name="option_detail" id="option_detail" required>
                              <option name="Bueno" value=0 selected>Bueno</option>
                              <option name="Regular" value=1>Regular</option>
                              <option name="Malo" value=2>Malo</option>
                            </select>
                        </div>

                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Observaciones:</label>
                        <input
                            class="form-control observation"
                            type="text"
                            name="observation_detail"
                            required

                          />
                    </div>

                  </div>



            </div>
            <div class="row" id="info_0">
                <div class="col-sm-6">
                    <label>Descripción:</label>
                    <div class="form-group" id="info_descrip_detail">
                        <ul><li>Las columnas y vigas tienen mas de 20 cm de espesor o mas de 400 cm2 de área transversal.</li><li>Las columnas y vigas tienen al menos 4 barras No 3 longitudinales y estribos espaciados a no mas de 10 a 15 cm.</li><li>Existe un buen contacto entre el muro de mampostería y los elementos de confinamiento.</li><li>El refuerzo longitudinal de las columnas y vigas debe estar adecuadamente anclado a sus extremos y a los elementos de la cimentación.</li></ul>
                    </div>
                </div>

                <div class="col-sm-6">
                    <label>Imagen:</label>
                    <div class="form-group" id="info_img_detail" >
                        <img style="display: block; margin: auto;" src="/static/images/1_detail.png" >

                    </div>

                </div>
            </div>

            <br></br>
        </div>


        <div class="col-lg-12" id="property">
          <h4>9. Vigas de amarre o corona</h4>
          <br>
        </div>

        <div class="col-lg-12" id="property_0">

            <div class="row" id="info_0">
                <div class="col-sm-6">
                        <div class="form-group">
                            <label>Estado:</label>
                            <select class="form-control" id="option_mooring" name="option_mooring" required>
                              <option name="Bueno" value=0 selected>Bueno</option>
                              <option name="Regular" value=1>Regular</option>
                              <option name="Malo" value=2>Malo</option>
                            </select>
                        </div>

                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Observaciones:</label>
                        <input
                            class="form-control observation"
                            type="text"
                            name="observation_mooring"
                            required

                          />
                    </div>

                  </div>



            </div>

            <div class="row" id="info_0">
                <div class="col-sm-6">
                    <label>Descripción:</label>
                    <div class="form-group" id="info_descrip_mooring">
                        <ul><li>Existen vigas de amarre o de corona en concreto reforzado en todos los muros, parapetos, fachadas y culatas en mamposteria.</li></ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label>Imagen:</label>
                        <div class="form-group" id="info_img_mooring">
                            <img style="display: block; margin: auto;" src="/static/images/1_mooring.png" >

                        </div>

                    </div>
            </div>
            <br></br>
        </div>

      </div>
  </div>


  <div class="tab">
      <div class="regForm2">

        <div class="col-lg-12" id="property">
          <h4>10. Características de las aberturas</h4>
          <br>
        </div>

        <div class="col-lg-12" id="property_0">

            <div class="row" id="info_0">
                <div class="col-sm-6">
                        <div class="form-group">
                            <label>Estado:</label>
                            <select class="form-control" name="option_characteristics" id="option_characteristics" required>

                              <option name="Bueno" value=0 selected>Bueno</option>
                              <option name="Regular" value=1>Regular</option>
                              <option name="Malo" value=2>Malo</option>
                            </select>
                        </div>

                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Observaciones:</label>
                        <input
                            class="form-control observation"
                            type="text"
                            name="obersation_characteristics"
                            required

                          />
                    </div>

                  </div>

            </div>

            <div class="row" id="info_0">
                <div class="col-sm-6">
                    <label>Descripción:</label>
                    <div class="form-group" id="info_descrip_characteristics">
                        <ul><li>Las aberturas en los muros estructurales totalizan menos del 35% del area total del muro.</li><li>La longitud total de aberturas en el muro corresponde a menos de la mitad de la longitud total del muro.</li><li>Existe una distancia desde el borde del muro hasta la abertura adyacente igual a la altura de la misma o 50 cm, la que sea mayor.</li></ul>
                    </div>
                </div>
                <div class="col-sm-6">
                        <div class="form-group" id="info_img_characteristics" >
                            <img style="display: block; margin: auto;" src="/static/images/1_characteristics.png" >
                        </div>

                    </div>
            </div>

            <br></br>
        </div>


        <div class="col-lg-12" id="property">
            <h4>11. Entrepiso</h4>
            <br>
          </div>

        <div class="col-lg-12" id="property_0">

            <div class="row" id="info_0">
                <div class="col-sm-6">
                        <div class="form-group">
                            <label>Estado:</label>
                            <select class="form-control" name="option_mezzanine" id="option_mezzanine" required>

                              <option name="Bueno" value=0 selected>Bueno</option>
                              <option name="Regular" value=1>Regular</option>
                              <option name="Malo" value=2>Malo</option>
                            </select>
                        </div>

                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Observaciones:</label>
                        <input
                            class="form-control observation"
                            type="text"
                            name="observation_mezzanine"
                            required

                          />
                    </div>

                  </div>





            </div>
            <div class="row" id="info_0">
                <div class="col-sm-6">
                    <label>Descripción:</label>
                    <div class="form-group" id="info_descrip_mezzanine">
                        <ul><li>El entrepiso esta conformado por placas de concreto fundidas en el sitio o placas prefabricadas que funcionan de manera monolítica.</li><li>La placa de entrepiso se apoya de manera adecuada a los muros de soporte y proporciona continuidad y monolitismo.</li><li>La placa de entrepiso es continua, monolítica y uniforme en relación con los materiales que lo componen.</li></ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label>Imagen:</label>
                        <div class="form-group" id="info_img_mezzanine">
                            <img style="display: block; margin: auto;" src="/static/images/1_mezzanine.png" >
                        </div>

                </div>
            </div>

            <br></br>
        </div>


        <div class="col-lg-12" id="property">
          <h4>12. Amarre de cubiertas</h4>
          <br>
        </div>

        <div class="col-lg-12" id="property_0">

            <div class="row" id="info_0">
                <div class="col-sm-6">
                        <div class="form-group">
                            <label>Estado:</label>
                            <select class="form-control" id="option_cover" name="option_cover" required>

                              <option name="Bueno" value=0 selected>Bueno</option>
                              <option name="Regular" value=1>Regular</option>
                              <option name="Malo" value=2>Malo</option>
                            </select>
                        </div>

                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Observaciones:</label>
                        <input
                            class="form-control observation"
                            type="text"
                            name="observation_cover"
                            required

                          />
                    </div>

                  </div>

            </div>
            <div class="row" id="info_0">
                <div class="col-sm-6">
                    <label>Descripción:</label>
                    <div class="form-group" id="info_descrip_cover">
                        <ul><li>Existen tornillos, alambres o conexiones similares que amarran el techo a los muros.</li><li>Hay arriostramiento de las vigas y la distancia entre vigas no es muy grande.</li><li>La cubierta es liviana y esta debidamente amarrada y apoyada a la estructura de cubierta.</li></ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label>Imagen:</label>
                        <div class="form-group" id="info_img_cover">
                            <img style="display: block; margin: auto;" src="/static/images/1_cover.png" >

                        </div>

                </div>
            </div>

            <br></br>
        </div>

      </div>
  </div>


  <div class="tab">
      <div class="regForm2">
        <div style="text-align: center;"class="col-lg-12" id="property">

        </div>
        <div class="col-lg-12" id="property">
          <h4>13. Cimentación</h4>
          <br>
        </div>

        <div class="col-lg-12" id="property_0">

            <div class="row" id="info_0">
                <div class="col-sm-6">
                        <div class="form-group">
                            <label>Estado:</label>
                            <select class="form-control" name="option_base" id="option_base" required>
                              <option name="Bueno" value=0 selected>Bueno</option>
                              <option name="Regular" value=1>Regular</option>
                              <option name="Malo" value=2>Malo</option>
                            </select>
                        </div>

                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Observaciones:</label>
                        <input
                            class="form-control observation"
                            type="text"
                            name="obersation_base"
                            required

                          />
                    </div>

                  </div>





            </div>
            <div class="row" id="info_0">
                <div class="col-sm-6">
                    <label>Descripción:</label>
                    <div class="form-group" id="info_descrip_base">
                        <ul><li>La cimentación esta conformada por vigas corridas en concreto reforzado bajo los muros estructurales.</li><li>Las vigas de cimentacion conforman anillos amarrados.</li><li>Las vigas de cimentacion en concreto reforzado cumplen los requisitos por la NSR-10 en el titulo E.</li></ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label>Imagen:</label>
                        <div class="form-group" id="info_img_base">

                            <img style="display: block; margin: auto;" src="/static/images/1_base.png" >

                        </div>

                </div>
            </div>
            <br></br>
        </div>


        <div class="col-lg-12" id="property">
            <h4>14. Suelos</h4>
            <br>
          </div>

        <div class="col-lg-12" id="property_0">

            <div class="row" id="info_0">
                <div class="col-sm-6">
                        <div class="form-group">
                            <label>Estado:</label>
                            <select class="form-control" name="option_soil" id="option_soil" required>

                              <option name="Bueno" value=0 selected>Bueno</option>
                              <option name="Regular" value=1>Regular</option>
                              <option name="Malo" value=2>Malo</option>
                            </select>
                        </div>

                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Observaciones:</label>
                        <input
                            class="form-control observation"
                            type="text"
                            name="observation_soil"
                            required

                          />
                    </div>

                  </div>





            </div>
            <div class="row" id="info_0">
                <div class="col-sm-6">
                    <label>Descripción:</label>
                    <div class="form-group" id="info_descrip_soil">
                        <ul><li>El suelo de la fundación es duro. Esto se puede saber cuando alrededor de la edificación no existen hundimientos, cuando no se evidencien arboles o postes inclinados, no se siente vibración cuando pasa un vehículo pesado cerca de la vivienda o cuando en general las viviendas no presentan agrietamientos o daños generalizados, especialmente grietas en los pisos o hundimientos y desniveles en el mismo.</li></ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label>Imagen:</label>
                        <div class="form-group"  id="info_img_soil">
                            <img style="display: block; margin: auto;" src="/static/images/1_soil.png" >

                        </div>

                </div>
            </div>
            <br></br>
        </div>


        <div class="col-lg-12" id="property">
          <h4>15. Entorno</h4>
          <br>
        </div>

        <div class="col-lg-12" id="property_0">

            <div class="row" id="info_0">
                <div class="col-sm-6">
                        <div class="form-group">
                            <label>Estado:</label>
                            <select class="form-control" id="option_environment" name="option_environment" required>

                              <option name="Bueno" value=0 selected>Bueno</option>
                              <option name="Regular" value=1>Regular</option>
                              <option name="Malo" value=2>Malo</option>
                            </select>
                        </div>

                </div>

                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Observaciones:</label>
                        <input
                            class="form-control observation"
                            type="text"
                            name="observation_environment"
                            required

                          />
                    </div>

                  </div>





            </div>


            <div class="row" id="info_0">

                <div class="col-sm-6">
                    <label>Descripción:</label>
                    <div class="form-group" id="info_descrip_environment">
                        <ul><li>La topografía donde se encuentra la vivienda es plana o muy poco inclinada.</li></ul>

                    </div>
                </div>

                <div class="col-sm-6">
                    <label>Imagen:</label>
                        <div class="form-group" id="info_img_environment">
                            <img style="display: block; margin: auto;" src="/static/images/1_environment.png" >
                        </div>

                    </div>

            </div>
            <br></br>
        </div>

      </div>
  </div>


  <br>
  <div style="overflow:auto; position: relative; padding-top: 1px;">
    <div class="next-button">
        <br>
      <button type="button" class="btn btn-primary my-btn" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
      <button type="button" class="btn btn-primary my-btn" id="nextBtn" onclick="nextPrev(1)">Siguiente</button>
    </div>
  </div>

  <!-- Circles which indicates the steps of the form: -->
  <div style="text-align:center;margin-top:40px; position: relative;">
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
  </div>
</form>

<script>
var currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the current tab

function showTab(n) {
  // This function will display the specified tab of the form...
  var x = document.getElementsByClassName("tab");
  x[n].style.display = "block";
  //... and fix the Previous/Next buttons:
  if (n == 0) {
    document.getElementById("prevBtn").style.display = "none";
  } else {
    document.getElementById("prevBtn").style.display = "inline";
  }
  if (n == (x.length - 1)) {
    document.getElementById("nextBtn").innerHTML = "Submit";
  } else {
    document.getElementById("nextBtn").innerHTML = "Next";
  }
  //... and run a function that will display the correct step indicator:
  fixStepIndicator(n)
}

function nextPrev(n) {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab");
  // Exit the function if any field in the current tab is invalid:
  if (n == 1 && !validateForm()) return false;
  // Hide the current tab:
  x[currentTab].style.display = "none";
  // Increase or decrease the current tab by 1:
  currentTab = currentTab + n;
  // if you have reached the end of the form...
  if (currentTab >= x.length) {
    // ... the form gets submitted:
    document.getElementById("regForm").submit();
    return false;
  }
  // Otherwise, display the correct tab:
  showTab(currentTab);
}

function validateForm() {
  // This function deals with validation of the form fields
  var x, y, i, valid = true;
  x = document.getElementsByClassName("tab");
  y = x[currentTab].getElementsByTagName("input");
  s = x[currentTab].getElementsByTagName("select");
  element = x[currentTab].getElementsByClassName("count")
  // A loop that checks every input field in the current tab:

  for (i = 0; i < y.length; i++) {
    // If a field is empty...
    class_observation = y[i].className.split(' ')[1]
    if (y[i].value == "" & !(y[i].disabled) & !(class_observation == "observation") & !(y[i].className == 'image')) {
      // add an "invalid" class to the field:
      y[i].className += " invalid";
      // and set the current valid status to false
      valid = false;
    }
  }
  for (i = 0; i < s.length; i++) {
    // If a field is empty...

    if (s[i].value == "") {
      // add an "invalid" class to the field:
      s[i].className += " invalid";
      // and set the current valid status to false
      valid = false;
    }
  }
  for (i = 0; i < element.length; i++) {
    // If a field is empty...

    if (parseInt(element[i].value) == 0) {
      // add an "invalid" class to the field:
      element[i].className += " invalid";
      // and set the current valid status to false
      valid = false;
    }
  }
  // If the valid status is true, mark the step as finished and valid:
  if (valid) {
    document.getElementsByClassName("step")[currentTab].className += " finish";
  }
  return valid; // return the valid status
}

function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class on the current step:
  x[n].className += " active";
}
</script>

<style>
        * {
          box-sizing: border-box;
        }

        img {
          width: 60% !important;
        }
        body {
          background-color: white;
        }
        h4 {
          color: #272833;
          font-weight: bold;

        }
        /* #regForm {
          background-color: #ffffff;
          margin: 100px auto;
          font-family: Raleway;
          padding: 40px;
          width: 100%;
          min-width: 300px;
        } */

        h1 {
          text-align: center;
        }

        input {
          padding: 10px;
          width: 100%;
          font-size: 17px;
          font-family: Raleway;
          border: 1px solid #aaaaaa;
        }

        /* Mark input boxes that gets an error on validation: */
        input.invalid {
          background-color: #ffdddd;
        }
        select.invalid {
          background-color: #ffdddd;
        }
        /* Hide all steps by default: */
        .tab {
          display: none;
        }

        button {
          background-color: #4788bf;
          color: #ffffff;
          border: none;
          padding: 10px 20px;
          font-size: 17px;
          font-family: Raleway;
          cursor: pointer;
        }

        button:hover {
          opacity: 0.8;
        }

        /* Make circles that indicate the steps of the form: */
        .step {
          height: 15px;
          width: 15px;
          margin: 0 2px;
          background-color: #bbbbbb;
          border: none;
          border-radius: 50%;
          display: inline-block;
          opacity: 0.5;
        }

        .step.active {
          opacity: 1;
        }

        /* Mark the steps that are finished and valid: */
        .step.finish {
          background-color: #4788bf;
        }
        #more {
            color: blue;
            text-decoration: underline;
        }
        .more_information { color: blue; }
        #title_process{


            /* padding: 350px; */
            /* height: auto; */
            padding-top: 50px;



        }
        #profile-box{
            padding-top: 50px;
        }
        #main-navbar{
            background: #272833;
        }

        #title_process {
            /* padding: 350px; */
            /* height: auto; */
            padding-top: 1px;
        }
        .title_process {
          background-color: white;
        }
        #p{
            position: absolute;
            top: 24px;
        }
        .test{
            position: absolute;
            top: 30px;
        }
        #mapid { height: 180px;
            width:100%;
            height:400px;
            }
</style>
</body>
</html>